@model List<DataTransfarLayer.MetaDataTransfer>

@{
    ViewBag.Title = "MetaList";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<section class="content-header">
    <h1>Meta Lists</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item">Meta</li>
        <li class="breadcrumb-item active"><a>Meta List </a></li>
    </ol>

</section>
<br />
<div class="card-footer">
    <a class="btn btn-primary" href="/Admin/Meta/Index">Add Meta</a>
</div>


<section class="content">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">DataTable with default features</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Meta Content</th>
                        <th align="center">Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var meta in Model)
                    {
                        <tr id="a_@meta.MetaId">
                            <td>@meta.MetaName</td>
                            <td>
                                @meta.MetaContent
                            </td>
                            <td align="center">
                                <a class="btn btn-primary"><spam class="fa fas-Cycle"></spam>Update</a>

                                <a class="btn btn-danger"><spam class="fa fas-Cycle"></spam>Delete</a>
                            </td>

                        </tr>
                    }




                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Meta Content</th>
                        <th align="center">Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</section>
