
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Update Meta Operations</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item">Meta</li>
        <li class="breadcrumb-item active"><a>Add Meta </a></li>
    </ol>

</section>
<br />
<div class="card-footer">
    <a class="btn btn-primary" href="/Admin/Meta/MetaList">Meta List</a>
</div>


<section class="content">
    <div class="row">
        <div class="col-md-9">
            @Html.Partial("~/Areas/Admin/Views/Shared/MessageForm.cshtml")
            <div class="box box-primary">
                @using (Html.BeginForm("Update", "Meta", FormMethod.Post))
                {
                    @Html.Partial("partials/MetaAddForm")
                }
                </div>

        </div>
    </div>


</section>




