
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<section class="content-header">
    <h1>Add Social Media Operations</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item">Social Media</li>
        <li class="breadcrumb-item active"><a>Add Social Media </a></li>
    </ol>

</section>
<br />
<div class="card-footer">
    <a class="btn btn-primary" href="/Admin/SocialMedia/SocialMediaList">Social Media List</a>
</div>


<section class="content">
    <div class="row">
        <div class="col-md-9">
            @Html.Partial("~/Areas/Admin/Views/Shared/MessageForm.cshtml")
            <div class="box box-primary">
                @using (Html.BeginForm("Index", "SocialMedia", FormMethod.Post))
                {
                  @Html.Partial("partial/SocialMediaAddForm")
                }
            </div>

        </div>
    </div>


</section>

