@model List<DataTransfarLayer.SocialMediaDataTransfer>
@{
    ViewBag.Title = "Social Media List";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<section class="content-header">
    <h1>Add Social Media Operations</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item">Social Media</li>
        <li class="breadcrumb-item active"><a>Add Social Media </a></li>
    </ol>

</section>
<br />
<div class="card-footer">
    <a class="btn btn-primary" href="/Admin/SocialMedia/Index">Add Social Media</a>
</div>


<section class="content">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">DataTable with default features</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Image Path</th>
                        <th align="center">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var SocialMedia in Model)
                    {
                        <tr id="a_@SocialMedia.SocialId">
                            <td>@SocialMedia.SocialName</td>
                            <td>
                                @SocialMedia.ImagePath
                            </td>
                            <td align="center">
                                <a href="/Admin/SocialMedia/UpdateSocial/@SocialMedia.SocialId" class="btn btn-primary"><i class="fa-solid fa-file-pen"></i><br />Update</a>

                                <a href="/Admin/SocialMedia/DeleteSocialById/@SocialMedia.SocialId" class="btn btn-danger"><i class="fa-solid fa-trash"></i><br />Delete</a>
                            </td>

                        </tr>
                    }




                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Meta Content</th>
                        <th align="center">Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</section>

