
@{
    ViewBag.Title = "Update Social Media";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Update Sociial Operations</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item">Social</li>
        <li class="breadcrumb-item active"><a>Update Social Media </a></li>
    </ol>

</section>
<br />
<div class="card-footer">
    <a class="btn btn-primary" href="/Admin/SocialMedia/SocialList">Social Media List</a>
</div>


<section class="content">
   

    <div class="row">
        <div class="col-md-9">
            @Html.Partial("~/Areas/Admin/Views/Shared/MessageForm.cshtml")
            <div class="box box-primary">
                @using (Html.BeginForm("UpdateSocial", "SocialMedia", FormMethod.Post))
                {
                    @Html.Partial("partial/SocialMediaAddForm")
                }
            </div>

        </div>
    </div>


</section>




